# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
****

In [25]:
import pandas as pd
import numpy as np
from scipy import stats
import math

In [26]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [27]:
# number of callbacks for black-sounding names
callback_b = sum(data[data.race=='b'].call)
p_b = callback_b / len(data[data.race=='b'])

In [28]:
# number of callbacks for white-sounding names
callback_w = sum(data[data.race=='w'].call)
p_w = callback_w / len(data[data.race=='w'])

In [29]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

### 1)What test is appropriate for this problem? Does CLT apply?

A two-proportion z-test is appropriate when:

* The sampling method for each population is simple random sampling 
* The samples are independent
* Each sample includes at least 10 successes and 10 failures
* Each population is at least 20 times as big as its sample

### 2) What are the null and alternate hypotheses?

Since all conditions are satsified, we'll continue with the 2-proportion z-test with the following null hypothesis:

\begin{equation} H_0 : p_1 = p_2  \end{equation}

\begin{equation}H_A: p_1 \neq p_2 \end{equation}

### 3) Compute margin of error, confidence interval, and p-value.

In [30]:
p = sum(data.call)/len(data)
se = math.sqrt(p * (1-p) * ((1/len(data[data.race=='w'])) + (1/len(data[data.race=='b']))))
z = (p_b - p_w)/se
print('p-value =', stats.norm.cdf(z)*2)

p-value = 3.98388683759e-05

At the .05 level of significance, we reject the null hypothesis and state that there is a difference in proportions between the two groups.

In [31]:
se_diff = math.sqrt((p_b*(1-p_b))/len(data[data.race=='b']) + (p_w*(1-p_w))/len(data[data.race=='w']))
low = (p_b - p_w) - 1.96 * se
high = (p_b - p_w) + 1.96 * se
print('We are 95% confident that the true difference in proportions is between',low,'and',high)

We are 95% confident that the true difference in proportions is between -0.0473147665203 and -0.0167509418986

### 4) Write a story describing the statistical significance in the context or the original problem.

Because the interval above does not contain 0, it's unreasonable to say that the proportions are equal.  95% of random samples will have a difference of proportions within the above range.  It's clear the callback rate is different depending on what your name sounds like.

### 5) Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

The analysis is not complete because we haven't accounted for any of the other columns in the data.  After doing more analysis to account for education and experience, we could make a final conclusion.